.About{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    
   
}
.profile{
    width:22%;
    height:52%;
    border-radius:10%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
   
}
.About-me{
    width:50%;
    height:49%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius:50px;
    padding:1rem;
    position: relative;
}

.self-desc{
    width:80%;
    font-size:1rem;
    opacity: 0.8;
    line-height:1.5;
    text-align: justify;
}

.social-media {
    list-style: none;
    display: flex;
    align-items: center;
    gap:1rem;
    margin-top:2rem;
    position: absolute;
    right:18%;

}
.social-media i{
     font-size:1.8rem;
    opacity: 0.5;
}

.social-media i:hover{
    transform: scale(1.05);
    opacity: 1;
}
@media(max-width:768px){
    .About{
        flex-direction: column;
        align-items: center; 
        padding:2%; 
    }
    .profile{
        width:70%;
        height:40%;
        border-radius: 50%;

    }

    .About-me{
        width:70%;
        height:70%;
        display: flex;
        align-items:start;
        justify-content: center;

    
    }
    .self-desc{
        width:100%;
        font-size:1rem;
       
        opacity: 0.8;
        margin:0.5rem;

    }
    .social-media{
        opacity: 0;
    }

}

@media((min-width:768px) and (max-width:1024px)){
    .About{
        flex-direction: column;
    }
    .profile{
       width:40%;
       height:30%;
       border-radius: 50%;
    }
    .About-me{
        width:80%;
        height:30%;
        display: flex;
        justify-content: center;
    }
    .self-desc{
        width:80%;
        font-size:1.3rem;
        opacity: 0.8;
        line-height:1.4;
        text-align: justify;
    }
   .social-media{
        opacity: 1;
        bottom:10%;
    }


}