.skills-wrapper {
  background-color: #161513;
  color: white;
  padding: 5% 5%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.skills-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b932e1 102.05%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech,
.tools {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.skills-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.skill-card {
  background-color: #1f1f1f;
  border: 1px solid #2a2a2a;
  border-radius: 15px;
  padding: 25px 10px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.skill-card:hover {
  transform: scale(1.05);
  border-color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b932e1 102.05%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-name {
  font-size: 1rem;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .skills-title {
    font-size: 2rem;
  }
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
  }
  .skill-icon {
    font-size: 2rem;
  }
  .skill-card {
    padding: 15px;
  }
}
